<% menu = Hyrax::MenuPresenter.new(self) %>

<ul class="admin-sidebar nav nav-pills nav-stacked">
  <%= menu.nav_link(hyrax.admin_stats_path) do %>
    <span class="fa fa-bar-chart"></span> <%= t('hyrax.admin.sidebar.statistics') %>
  <% end %>

  <%= menu.nav_link(hyrax.admin_features_path) do %>
    <span class="fa fa-cog"></span> <%= t('hyrax.admin.sidebar.settings') %>
  <% end %>

  <%= menu.nav_link(hyrax.admin_admin_sets_path) do %>
    <span class="fa fa-sitemap"></span> <%= t('hyrax.admin.sidebar.admin_sets') %>
  <% end %>

  <li>
    <%= menu.collapsable_section t('hyrax.admin.sidebar.workflow'),
                                 icon_class: "fa fa-code-fork",
                                 id: 'collapseWorkflows',
                                 open: menu.workflows_section? do %>
      <%= menu.nav_link(hyrax.admin_workflows_path) do %>
        <span class="fa fa-flag"></span> <%= t('hyrax.admin.sidebar.workflow_review') %>
      <% end %>
      <%= menu.nav_link(hyrax.admin_workflow_roles_path) do %>
        <span class="fa fa-users"></span> <%= t('hyrax.admin.sidebar.workflow_roles') %>
      <% end %>
    <% end %>
  </li>

  <li>
    <%= menu.collapsable_section 'Batch Work Ingests',
                                 icon_class: "fa fa-table",
                                 id: 'collapseIngests',
                                 open: false do %>
      <%= menu.nav_link("/bulk_metadata/ingests/new") do %>
        <span class="fa fa-table"></span> New Batch Ingest
      <% end %>
      <%= menu.nav_link("/bulk_metadata/ingests") do %>
        <span class="fa fa-copy"></span> Track Batch Ingests
      <% end %>
    <% end %>
  </li>


  <li>
    <%= menu.collapsable_section 'Batch Metadata Edits',
                                 icon_class: "fa fa-table",
                                 id: 'collapseEdits',
                                 open: false do %>
      <%= menu.nav_link("/bulk_metadata/edits/new") do %>
        <span class="fa fa-table"></span> Initiate Batch Edit
      <% end %>
      <%= menu.nav_link("/bulk_metadata/edits") do %>
        <span class="fa fa-copy"></span> Current Batch Edits
      <% end %>
      <%= menu.nav_link("/bulk_metadata/edits?status=completed") do %>
        <span class="fa fa-copy"></span> Completed Batch Edits
      <% end %>
    <% end %>
  </li>


  <%= menu.nav_link(hyrax.admin_users_path) do %>
    <span class="fa fa-user"></span> <%= t('hyrax.admin.sidebar.users') %>
  <% end %>
</ul>
