<%#= Customized from Hyrax 2.9.0 %>

<% if @subcollection_docs.nil? || @subcollection_docs.empty? %>
  <div class="row alert alert-warning" role="alert"><%= t('hyrax.collections.show.no_visible_subcollections') %></div>
<% else %>


<% @subcollection_docs.each_slice(2) do |row_of_docs| %>
<div class="row">
  <% row_of_docs.each do |document| %>
  <div class="subcollection col-md-6">
    <%= image_tag document.thumbnail_path,
        alt: "",
        role: "presentation" %>
    <div class="subcollection-info">
      <div class="subcollection-title"><%= document.title_or_label %></div>
      <div class="subcollection-description-short hidden-sm hidden-lg hidden-xl hidden-xs"><%= document.description.join(" ").truncate(80) %></div>
      <div class="subcollection-description-long hidden-md hidden-xs"><%= document.description.join(" ").truncate(200) %></div>
      <div><a href="/collections/<%= document.id%>">View this collection</a></div>
      <div><a href="<%= document.relatedResource.first %>">Collection Guide <span class="glyphicon  glyphicon-new-window"></span></a></div>
    </div>
  </div>
  <% end %>
</div>
<% end %>


<%= render 'hyrax/collections/paginate', solr_response: @subcollection_solr_response, page_param_name: :sub_collection_page %>
<% end %>
