<%= form_for(@bmi_ingest) do |f| %>
    <% if @bmi_ingest.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@bmi_ingest.errors.count, "error") %> prohibited this batch_metadata_ingest from being saved:</h2>
            <ul>
                <% @bmi_ingest.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %><br>
        <div class="fieldnote">Type a memorable, unique name for your batch ingest. You will use this name to track the progress of your ingest.</div>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :class_name %><br>
        <div class="fieldnote">Please select which class of work you will be creating or editing by default. Individual items can override this.</div>
        <!-- TODO this should be a select field populated with everything that subclasses Hydra::Works. -->
        <%= f.text_field :class_name %>
    </div>

    <div class="field">
        <%= f.label :relationship_identifier %><br>
        <div class="fieldnote">The identifier type for work relationships. When you define a work and specify its parent, you can identify the parent based on the ingest row number (row), the system-assigned id for an existing item (id), or the contents of the “identifier” metadata field (identifier).</div>
        <%= f.text_field :relationship_identifier %>
    </div>

    <label for="edit_existing"> Does this ingest replace metadata on any objects already defined in this repository? </label><input id="edit_existing" type="checkbox" />

    <div id="edit_existing_options">
        <div class="field">
            <%= f.label :edit_identifier %><br>
            <div class="fieldnote">The identifier column for selecting works to edit. This should correspond to a unique identifier such as a hyrax ID or call number. If an existing item in hyrax can be identified by matching this identifier, that item's metadata will be replaced instead of creating a new item.</div>
            <%= f.text_field :edit_identifier %>
        </div>

        <div class="field">
            <%= f.label :replace_files %><br>
            <div class="fieldnote">Check this box to delete existing files associated with edited items when ingesting new files. Uncheck to leave existing files alone. </div>
            <%= f.check_box :replace_files %>
        </div>

    </div>

        <div class="field">
            <%= f.label :visibility %><br>
            <div class="fieldnote"> Should the newly created items be made publicly visible?</div>
            <%= f.check_box :visibility %>
        </div>

        <div class="field">
            <%= f.label :notifications %><br>
            <div class="fieldnote">Would you like to recieve email notifications about the status of this ingest? </div>
            <%= f.check_box :notifications %>
        </div>


    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
