
    <div id="<%= div_id %>">
        <span class="tab-title">
            <%= title %>
        </span>
        <div class="status-stat"> 
            (<%= num_rows %>)
        </div>

        <button class="select-all">Select All</button>
        <button class="deselect-all">Select None</button>

        <ul class="actions">
            <% actions.each do |action|  %>
            <button id="<%= action[:id]%>" disabled><%= action[:title]%></button>
            <% end %>
        </ul>

        <ul class="rows">
            <% @bmi_ingest.bmi_rows.where(:status => type).each do |row| %>
                <%= render partial: "row", locals: { 
                    id: row.id,
                    title: row.title } %>
            <% end %>
        </ul>

        <button class="select-all">Select All</button>
        <button class="deselect-all">Select None</button>
    </div>
