
<div id="bmi-tabs">
    <ul>
        <% if @bmi_ingest.numUnparsed > 0 %>
            <li>
                <a href="#unparsed-rows">Unintelligible Rows (<%= @bmi_ingest.numUnparsed %>)</a>
            </li>
        <% end %>
        <li>
            <a href="#parsed-rows">Awaiting Ingest (<%= @bmi_ingest.numParsed %>)</a>
        </li>
        <li>
            <a href="#currently-ingesting">Currently Ingesting (<%= @bmi_ingest.numIngesting %>)</a>
        </li>
        <% if @bmi_ingest.numErrors > 0 %>
            <li>
                <a href="#error-rows">Ingest Errors (<%= @bmi_ingest.numErrors %>)</a>
            </li>
        <% end %>
        <li>
            <a href="#ingested-rows">Ingested Rows (<%= @bmi_ingest.numIngested %>)</a>
        </li>
    </ul>

    <% if @bmi_ingest.numUnparsed > 0 %>
        <div id="unparsed-rows">
            <span class="tab-title">Unintelligible Rows</span>
            <span class="tab-buttons"> 
                <button class="dropdown actions">Actions</button>
                <ul class="actions hideable">
                    <li>Retry Parsing</li>
                    <li>Edit in OpenRefine</li>
                    <li>Export as CSV</li>
                    <li>Export as XML</li>
                    <li>Cancel and Remove</li>
                </ul>
                <button class="dropdown">show/hide</button>
            </span>
            <div class="hideable">
                <ul class="rows">
                    <li>
                        <div class="row-header">
                            <input type="checkbox" selected="selected" />
                            <label>Row 12</label>
                        </div>
                        <button  class="dropdown">show/hide</button>
                        <div class="hideable">
                            <p>Here there will be two tabs. One will include metadata from the row, with errors displayed prominently. Another will show only the errors, if there are any. A third will show all log entries related to this row.</p>
                        </div>  
                    </li>
                </ul>
            </div>
        </div>
    <% end %>

    <%= render partial: "tab", locals: { 
        div_id: "parsed-rows",
        title: "Parsed Rows Pending Ingest",
        num_rows: @bmi_ingest.numParsed,
        actions: [{id: "ingest-now", title: "Ingest Now"},
                  {id: "edit-OR", title: "Edit in OpenRefine"},
                  {id: "export-csv", title: "Export as CSV"},
                  {id: "export-xml", title: "Export as XML"}]
        
    } %>
<!--
    <div id="parsed-rows">
        <span class="tab-title">Parsed Rows Pending Ingest</span>
        <div class="status-stat"> 
            (<%= @bmi_ingest.numParsed %>)
        </div>

        <button class="select-all">Select All</button>
        <button class="deselect-all">Select None</button>

        <ul class="actions">
            <button disabled>Ingest Now</button>
            <button disabled>Edit in OpenRefine</button>
            <button disabled>Export as CSV</button>
            <button disabled>Export as XML</button>
            <button disabled>Export as ttl</button>
            <button disabled>Cancel and Remove</button>
        </ul>

        <ul class="rows">
            <li>
                <div class="row-header">
                    <label>Sample Ingesting Title</label>
                    <button class="dropdown">show/hide</button>
                    <input type="checkbox"" />
                </div>
            </li>
        </ul>

        <button class="select-all">Select All</button>
        <button class="deselect-all">Select None</button>
    </div>

 -->

    <div id="currently-ingesting">
        <span class="tab-title">Rows Currently Ingesting</span>
        <div class="status-stat"> 
            (<%= @bmi_ingest.numIngesting %>)
        </div>

        <button class="select-all">Select All</button>
        <button class="deselect-all">Select None</button>

        <ul class="actions">
            <button disabled>Cancel Importing</button>
            <button disabled>Cancel and Remove</button>
        </ul>

        <ul class="rows">
            <li>
                <div class="row-header">
                    <label>Sample Ingesting Title</label>
                    <button class="dropdown">show/hide</button>
                    <input type="checkbox"" />
                </div>
            </li>
        </ul>

        <button class="select-all">Select All</button>
        <button class="deselect-all">Select None</button>
    </div>


    <% if @bmi_ingest.numErrors > 0 %>
        <div id = "error-rows">
            <span class="tab-title">Ingest Errors</span>
            <div class="status-stat"> 
                (<%= @bmi_ingest.numErrors %>)
            </div>
            <button class="dropdown">show/hide</button>
            <div class="hideable">
                <button>Actions</button>
                <ul class="actions">
                    <button disabled>Retry Ingest</button>
                    <button disabled>Edit in OpenRefine</button>
                    <button disabled>Export Metadata as CSV</button>
                    <button disabled>Export Metadata as XML</button>
                    <button disabled>Cancel and Remove</button>
            </li>
                </ul>
                <ul class="rows">
                    <li>
                        <div class="row-header">
                            <label>Sample Title (or unparsed row #)</label>
                            <button class="dropdown">show/hide</button>
                            <input type="checkbox" selected="selected" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    <% end %>

    <div id = "ingested-rows">
        <span class="tab-title">Successfully Ingested Items</span>
        <div class="status-stat"> 
            (<%= @bmi_ingest.numIngested %>)
        </div>
        <button cass="dropdown">show/hide</button>
        <div class="hideable">
            <button>Actions</button>
            <ul class="actions">
                <li>Export Metadata as CSV</li>
                <li>Export Metadata as XML</li>
                <li>Cancel and Remove</li>
                </li>
            </ul>
            <ul class="rows">
                <li>
                    <div class="row-header">
                        <label>Sample Title</label>
                        <button class="dropdown">show/hide</button>
                        <input type="checkbox" selected="selected" />
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
