<p id="notice"><%= notice %></p>

<h3>
    <%= @bmi_ingest.name %>
</h3>

<p>
    <strong>User:</strong>
    <%= User.find(@bmi_ingest.user_id).name %>
</p>

<p>
    <strong>Filename:</strong>
    <%= @bmi_ingest.filename %>
</p>

<p>
    <strong>Status:</strong>
    <%= @bmi_ingest.status %>
</p>

<p>
    <strong>Class:</strong>
    <%= @bmi_ingest.class_name %>
</p>

<!--
<p>
    <strong>Identifier:</strong>
    <%= @bmi_ingest.identifier %>
</p>

<p>
    <strong>Replace files:</strong>
    <%= @bmi_ingest.replace_files %>
</p>
-->

<%= link_to 'Edit', edit_bmi_ingest_path(@bmi_ingest) %> |
<%= link_to 'Back', bmi_ingests_path %>

<div id="bmi-tabs">
    <ul>
        <li>
            <a href="#unparsed-rows">Unintelligible Rows (<%= @bmi_ingest.numUnparsed %>)</a>
        </li>
        <li>
            <a href="#parsed-rows">Awaiting Ingest (<%= @bmi_ingest.numParsed %>)</a>
        </li>
        <li>
            <a href="#parsed-rows">Currently Ingesting (<%= @bmi_ingest.numIngesting %>)</a>
        </li>
        <li>
            <a href="#error-rows">Ingest Errors (<%= @bmi_ingest.numErrors %>)</a>
        </li>
        <li>
            <a href="#ingested-rows">Ingested Rows (<%= @bmi_ingest.numIngested %>)</a>
        </li>
    </ul>
    <div id="unparsed-rows">
        <span class="tab-title">Unintelligible Rows</span>
        <span class="tab-buttons"> 
            <button class="dropdown actions">Actions</button>
            <ul class="actions hideable">
                <li>Retry Parsing</li>
                <li>Edit in OpenRefine</li>
                <li>Export as CSV</li>
                <li>Export as XML</li>
                <li>Cancel and Remove</li>
            </ul>
            <button class="dropdown">show/hide</button>
        </span>
        <div class="hideable">
            <ul class="rows">
                <li>
                    <div class="row-header">
                        <input type="checkbox" selected="selected" />
                        <label>Row 12</label>
                    </div>
                    <button  class="dropdown">show/hide</button>
                    <div class="hideable">
                        <p>Here there will be two tabs. One will include metadata from the row, with errors displayed prominently. Another will show only the errors, if there are any. A third will show all log entries related to this row.</p>
                    </div>  
                </li>
            </ul>
        </div>
    </div>

    <div id="parsed-rows">
        <span class="tab-title">Parsed Rows Pending Ingest</span>
        <div class="status-stat"> 
            (<%= @bmi_ingest.numParsed %>)
        </div>
        <button class="dropdown">show/hide</button>
        <div class="hideable">
            <button>Actions</button>
            <ul class="actions">
                <li>Ingest Now</li>
                <li>Edit in OpenRefine</li>
                <li>Export as CSV</li>
                <li>Export as XML</li>
                <li>Cancel and Remove</li>
            </ul>
            <ul class="rows">
                <li>
                    <div class="row-header">
                        <label>Sample Title</label>
                        <button class="dropdown">show/hide</button>
                        <input type="checkbox" selected="selected" />
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id = "error-rows">
        <span class="tab-title">Ingest Errors</span>
        <div class="status-stat"> 
            (<%= @bmi_ingest.numErrors %>)
        </div>
        <button class="dropdown">show/hide</button>
        <div class="hideable">
            <button>Actions</button>
            <ul class="actions">
                <li>Retry Ingest</li>
                <li>Edit in OpenRefine</li>
                <li>Export Metadata as CSV</li>
                <li>Export Metadata as XML</li>
                <li>Cancel and Remove</li>
                </li>
            </ul>
            <ul class="rows">
                <li>
                    <div class="row-header">
                        <label>Sample Title (or unparsed row #)</label>
                        <button class="dropdown">show/hide</button>
                        <input type="checkbox" selected="selected" />
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id = "ingested-rows">
        <span class="tab-title">Successfully Ingested Items</span>
        <div class="status-stat"> 
            (<%= @bmi_ingest.numIngested %>)
        </div>
        <button class="dropdown">show/hide</button>
        <div class="hideable">
            <button>Actions</button>
            <ul class="actions">
                <li>Export Metadata as CSV</li>
                <li>Export Metadata as XML</li>
                <li>Cancel and Remove</li>
                </li>
            </ul>
            <ul class="rows">
                <li>
                    <div class="row-header">
                        <label>Sample Title</label>
                        <button class="dropdown">show/hide</button>
                        <input type="checkbox" selected="selected" />
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
