<p id="notice"><%= notice %></p>

<h3>
    <%= @bmi_ingest.name %>
</h3>

<p>
    <strong>User:</strong>
    <%= User.find(@bmi_ingest.user_id).name %>
</p>

<p>
    <strong>Filename:</strong>
    <%= @bmi_ingest.filename %>
</p>

<p>
    <strong>Status:</strong>
    <%= @bmi_ingest.status %>
</p>

<p>
    <strong>Class:</strong>
    <%= @bmi_ingest.class_name %>
</p>

<!--
<p>
    <strong>Identifier:</strong>
    <%= @bmi_ingest.identifier %>
</p>

<p>
    <strong>Replace files:</strong>
    <%= @bmi_ingest.replace_files %>
</p>
-->

<%= link_to 'Edit', edit_bmi_ingest_path(@bmi_ingest) %> |
<%= link_to 'Back', bmi_ingests_path %>

<%= render 'widget' %>
