<p id="notice"><%= notice %></p>

<h1>Bmi Edits</h1>

<table >
  <thead>
    <tr>
      <th>Work ids</th>
      <th>Status</th>
      <th>User</th>
      <th>Deadline</th>
      <th>Comment</th>
      <th>Workflow</th>
      <th>Workflow action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edits.each do |edit| %>
      <tr>
        <td><%= edit.work_ids %></td>
        <td><%= edit.status %></td>
        <td><%= edit.user %></td>
        <td><%= edit.deadline %></td>
        <td><%= edit.comment %></td>
        <td><%= edit.workflow_id %></td>
        <td><%= edit.workflow_action_id %></td>
        <td><%= link_to 'Show', edit %></td>
        <td><%= link_to 'Edit', edit_bulk_metadata_edit_path(edit) %></td>
        <td><%= link_to 'Destroy', edit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulk Metadata Edit', new_bulk_metadata_edit_path %>
