
    <div id="<%= div_id %>">
        <% if num_rows == 0 %>
            <h3>This ingest has rows in this category (<%= title%>)</h3>
        <% else %>
            <form method="post" action="<%=request.path%>/process_row" id="<%= div_id %>">
                <%= token_tag %> 
                <span class="tab-title">
                    <%= title %>
                </span>
                <div class="status-stat"> 
                    (<%= num_rows %>)
                </div>

                <button type="button" class="select-all">Select All</button>
                <button type="button" class="deselect-all">Select None</button>

                <ul class="actions">
                    <% actions.each do |action|  %>
                        <button type="button" 
                                id="<%= action[:id]%>" 
                                name="action" 
                                value="<%= action[:id]%>" 
                                <%= 'disabled="disabled"' if action[:disabled] %>
                                >
                            <%= action[:title]%></button>
                    <% end %>
                </ul>

                <ul class="rows">
                    <% @ingest.rows.where(:status => type).each do |row| %>
                        <% partial = (row.status == "unparsed" ? "unparsed_row" : "row") %>
                        <%= render partial: partial, locals: { 
                            id: row.id,
                            text: row.text,
                            title: row.title } %>
                    <% end %>
                </ul>

                <button class="select-all">Select All</button>
                <button class="deselect-all">Select None</button>
            </form>
        <% end %>
    </div>
