<p id="notice"><%= notice %></p>

<h3>
    <%= @ingest.name %>
</h3>

<button id="toggle-ingest-info">More Info</button>
<div id="ingest-info">
    <p>
        <strong>Creator:</strong>
        <%= User.find(@ingest.user_id).name %>
    </p>

    <p>
        <strong>CSV Filename:</strong>
        <%= @ingest.filename %>
    </p>

    <p>
        <strong>Ingest Status:</strong>
        <%= @ingest.status %>
    </p>

    <p>
        <strong>Default Work Type:</strong>
        <%= @ingest.work_type %>
    </p>


    <p>
        <strong>Relationship Identifier:</strong>
        <%= @ingest.relationship_identifier %>
    </p>

    <p>
        <strong>Replace files:</strong>
        <%= @ingest.replace_files %>
    </p>
</div>

<%= link_to 'Edit', edit_bulk_metadata_ingest_path(@ingest) %> |
<%= link_to 'Back', bulk_metadata_ingests_path %>

<%= render 'widget' %>
