<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <% paginator.items.each do |item|%>
  <a href = '#'>
  <li>
  <%= label_tag :items, :class => "checkbox inline" do %>
    <%= check_box_tag :items, :style => "float:left"%> 
      <span style="float:left"><%= facet_display_value(facet_field, item) %></span>
      <span style="float:right"><%= render_facet_count(item.hits) %></span>
  <%end%>
  </li>
  </a>
  <%end%>
  

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets_link">
      <%= link_to t("more_#{field_name}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: facet_field.label), 
        search_facet_path(id: facet_field.key), class: "more_facets_link" %>
    </li>
  <% end %>
</ul>



