<div class="matching-collections-wrapper">
  <h4 class="matching-collections-count"><%= t('hyrax.collections.index.matching_collections.header') %></h4>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="carousel matching-collections-carousel slide" id="carousel-tilenav" data-interval="false">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-xs-12 col-sm-3 col-md-2 carousel-column">
                <div class="text-center">
                  <h5>Example Collection</h5>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-tilenav" data-slide="prev"><i class="glyphicon glyphicon-menu-left"></i></a>
          <a class="right carousel-control" href="#carousel-tilenav" data-slide="next"><i class="glyphicon glyphicon-menu-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
(function(){
  $('.matching-collections-carousel .item').each(function(){
    var itemToClone = $(this);

    for (var i=1;i<6;i++) {
      itemToClone = itemToClone.next();

      // wrap around if at end of item collection
      if (!itemToClone.length) {
        itemToClone = $(this).siblings(':first');
      }

      // grab item, clone, add marker class, add to collection
      itemToClone.children(':first-child').clone()
        .addClass("cloneditem-"+(i))
        .appendTo($(this));
    }
  });
}());
</script>



    <%
=begin THIS IS THE ITEM USED BY PALS for their stats slider. we will need some version of this for the items above.%>
 <% resource_types.each.with_index do |(k,v), i| %>
      <% next if v[0].zero? %>
      <div class="item <%= i.zero? ? 'active' : '' %>">
        <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="text-center">
            <i class='<%= "#{v[1]}" %>' aria-hidden="true"></i>
            <h5><%= k %></h5>
            <p><%= v[0] %></p>
          </div>
        </div>
      </div>
    <% end %> 
<%
=end%>