<%= form_for(bmi_edit) do |f| %>
  <% if bmi_edit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bmi_edit.errors.count, "error") %> prohibited this bmi_edit from being saved:</h2>

      <ul>
      <% bmi_edit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_ids %>
    <%= f.text_area :work_ids %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :workflow_id %>
    <%= f.number_field :workflow_id %>
  </div>

  <div class="field">
    <%= f.label :workflow_action_id %>
    <%= f.number_field :workflow_action_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
