<p id="notice"><%= notice %></p>

<h1>Bmi Edits</h1>

<table >
  <thead>
    <tr>
      <th>Work ids</th>
      <th>Status</th>
      <th>User</th>
      <th>Deadline</th>
      <th>Comment</th>
      <th>Workflow</th>
      <th>Workflow action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bmi_edits.each do |bmi_edit| %>
      <tr>
        <td><%= bmi_edit.work_ids %></td>
        <td><%= bmi_edit.status %></td>
        <td><%= bmi_edit.user %></td>
        <td><%= bmi_edit.deadline %></td>
        <td><%= bmi_edit.comment %></td>
        <td><%= bmi_edit.workflow_id %></td>
        <td><%= bmi_edit.workflow_action_id %></td>
        <td><%= link_to 'Show', bmi_edit %></td>
        <td><%= link_to 'Edit', edit_admin_bmi_path(bmi_edit) %></td>
        <td><%= link_to 'Destroy', bmi_edit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bmi Edit', new_admin_bmi_edit_path %>
