<p id="notice"><%= notice %></p>

<p>
  <strong>Work ids:</strong>
  <%= @bmi_edit.work_ids %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bmi_edit.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @bmi_edit.user %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bmi_edit.deadline %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @bmi_edit.comment %>
</p>

<p>
  <strong>Workflow:</strong>
  <%= @bmi_edit.workflow_id %>
</p>

<p>
  <strong>Workflow action:</strong>
  <%= @bmi_edit.workflow_action_id %>
</p>

<%= link_to 'Edit', edit_admin_bmi_edit_path(@bmi_edit) %> |
<%= link_to 'Back', admin_bmi_edits_path %>
