<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language") %>">
    <head>
        <%= render "layouts/head_tag_content"%>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    </head>

<body>
<%= render '/masthead' %>

<div class="image-masthead">
  <div class="background-container" style="background-image: url('<%= Hyrax.config.banner_image %>')"></div>
  <span class="background-container-gradient"></span>

  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav">
          <li <%= 'class=active' if current_page?(hyrax.root_path) %>>
            <%= link_to t(:'hyrax.controls.home'), hyrax.root_path, :'data-no-turbolink'=>"true" %></li>
          <li <%= 'class=active' if current_page?(hyrax.about_path) %>>
            <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, :'data-no-turbolink'=>"true" %></li>
          <li <%= 'class=active' if action_name == "help" %>>
            <%#= link_to t(:'hyrax.controls.help'), hyrax.help_path %></li>
          <li <%= 'class=active' if current_page?(hyrax.contact_path) %>>
            <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path %></li>
        </ul><!-- /.nav -->
        <div class="searchbar-right navbar-right col-sm-7 col-md-6">
          <%= render partial: 'catalog/search_form' %>
        </div>
      </div>
    </div>
  </nav><!-- /.navbar -->
</div>

<%= render '/flash_msg' %>
<%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>

<div id="content-wrapper" class="container">
  <%= yield %>
</div><!-- /#content-wrapper -->
<%= render 'shared/footer' %>
<%= render 'shared/ajax_modal' %>
</body>
</html>
