<div id="collection-metadata">
    <h3>About the collection</h3>

    <div class="flex">
		<% if presenter.collection %>
			<%= link_to presenter.collection, url_for_document(presenter.collection) %>
		<% end %>

		<% if presenter.parent %>
		    <%= link_to presenter.parent, url_for_document(presenter.parent) %>
	    <% else %>
			<%= presenter.attribute_to_html(:series, {label: "", render_as: :linked_attribute}) %>
	    <% end %>

	    <%= link_to presenter, "" %>
	</div>

	<div>
		<ul class="list-unstyled">
			<% unless presenter.collection.relatedResource.empty? %>
				<li><%= link_to presenter.collection.relatedResource do %>
					Collection Guide <span class='glyphicon glyphicon-new-window' aria-hidden='true'></span>
				<% end %></li>
			<% end %>
	</div>
</div>
