<%#= Custom file %> 
<% @subject ||= content_for?(:page_title) ? content_for(:page_title) : default_page_title %>
<%# Email work modal %>
<div class="modal fade" id="emailWork" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="emailLabel">Email</h4>

                <p>Send an email with a link to this item.</p>

                <div class="row">
                    <%= form_tag(@presenter.send_email_url, method: "post") do %>
                        <div class="form-group">
                            <%= label_tag :subject, "Subject:", class: "col-sm-2 control-label" %>
                            <div class="col-sm-10" id="work-title">
                                <%= text_field_tag :subject, @subject, class: 'form-control', readonly: true %>
                        </div>
                        <div class="form-group">
                            <%= label_tag :email, "Send to:", class: "col-sm-2 control-label" %>
                            <div class="col-sm-10">
                                <%= text_field_tag :email, nil, placeholder: 'Your email address', class: 'form-control', required: true %>
                            </div>
                        </div>
                        <div class="col-sm-12"><%= submit_tag "Send", class: "btn btn-primary" %></div>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
</div>
