<!-- <h2><%= t('.header') %></h2> -->
<h2 class="metadata">About this item:</h2>
<table class="<%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
   <tbody>
    <%= render 'primary_attribute_rows', presenter: presenter %>
    <% if  ((can? :manage, Work) or (can? :review, :submissions)) %>
        <%= presenter.attribute_to_html(:masterFilename, {label: "Master Filename"})  %>
        <%= presenter.attribute_to_html(:accessionNumber, {label: "Accession Number"}) %>
    <% end %>
    <%= render 'relationships', presenter: @presenter %> <%# Moved from show.html.erb to here %>
  </tbody>
</table>

<span id="show-more-metadata" class="more-metadata" onclick="jQuery('.more-metadata').toggle()"><a>More information +</a></span>

<div class="more-metadata" style="display:none">
    <table class="<%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
        <tbody>
            <%= render 'secondary_attribute_rows', presenter: presenter %>

            <%= render 'admin_only_attribute_rows', presenter: presenter if ((can? :manage, Work) or (can? :review, :submissions)) %>

            <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date) %>
            <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date) %>
        </tbody>
    </table>

    <span id="hide-more-metadata" onclick="jQuery('.more-metadata').toggle()"><a>Show less information -</a></span>
</div>

<script>

 function toggleMoreMetadata() {
     jQuery('#more-metadata').toggle;
     jQuery('#show-more-metadata').toggle;
 }

</script>
