<%#= Customized from Hyrax 2.4.0 
  #  whole file altered %>
<% if presenter.is_parent %>
<h2 class="metadata"><%= t('.header_parent') %>:</h2>
<h2 class="metadata mobile" onclick="mobileMetadataToggle()"><%= t('.header_parent') %> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" id="mobileExpand"></span><span class="glyphicon glyphicon-chevron-down" aria-hidden="true" id="mobileCollapse"></span></h2>
<% else %>
<h2 class="metadata"><%= t('.header') %>:</h2>
<% end %>

<table class="<%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
   <tbody>
    <%= render 'primary_attribute_rows', presenter: presenter %>
    <% if  ((can? :manage, Work) or (can? :review, :submissions)) %>
        <%= presenter.attribute_to_html(:primaryFilename, {label: "Primary Filename"})  %>
        <%= presenter.attribute_to_html(:accessionNumber, {label: "Accession Number"}) %>
    <% end %>
    <%= render 'relationships', presenter: @presenter %> <%# Moved from show.html.erb to here %>
  </tbody>
</table>

<span id="show-more-metadata" class="more-metadata" onclick="jQuery('.more-metadata').toggle()"><a>More information +</a></span>

<div class="more-metadata" style="display:none">
    <table class="<%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
        <tbody>
            <%= render 'secondary_attribute_rows', presenter: presenter %>

            <%= render 'admin_only_attribute_rows', presenter: presenter if ((can? :manage, Work) or (can? :review, :submissions)) %>

            <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date) %>
            <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date) %>
        </tbody>
    </table>

    <span id="hide-more-metadata" onclick="jQuery('.more-metadata').toggle()"><a>Show less information -</a></span>
</div>

<% if presenter.is_parent %>
<script>
// Toggle button for item-set metadata on mobile
function mobileMetadataToggle() {
    jQuery('table.attributes, #collection-metadata').toggle();
    jQuery('#mobileExpand, #mobileCollapse').toggle();
    if(jQuery('#hide-more-metadata').is(":visible")) {
        jQuery('div.more-metadata').toggle();
    } else {
        jQuery('#show-more-metadata').toggle();
    }
}
// Reset the presentation of item-set metadata when the browser is resized.
// Resizing debounce code courtesy of
// https://medium.com/@vaibhavar/ui-performance-window-resize-handler-debouncing-2ec5f7432165
var fnResize = function(){
    if ($(window).width() > 767) {
        jQuery('table.attributes, #show-more-metadata, #collection-metadata').show();
        jQuery('div.more-metadata').hide();
    } else {
        jQuery('table.attributes, #show-more-metadata, div.more-metadata, #collection-metadata').hide();
    }
}
var fnResizeCallTimer = null;
var fnResizeCaller = function(){
    clearTimeout(fnResizeCallTimer);
    fnResizeCallTimer = setTimeout(fnResize, 200);
}
jQuery(document).ready(function(){
    jQuery(window).on("resize", fnResizeCaller);
});
</script>
<% end %>
