<% if av_files.any? %>
    <% if av_files.count == 1 %>
        <%= render 'single_player', file_set_id: av_files.first  %>
    <% else %>
        <%= render 'playlist', file_set_ids: av_files  %>
    <% end %>
    <%= javascript_include_tag "include_player" %>
    <%= stylesheet_link_tag "embed" %>
<% elsif @presenter.image?%>
    <% if presenter.representative_id.present? && presenter.representative_presenter.present? %>
        <% if (defined?(viewer) && viewer.to_s == "true") || params['universal_viewer'] %>
            <%= PulUvRails::UniversalViewer.script_tag %>
            <div class="viewer-wrapper">
                <div class="uv viewer" data-config="/uv_config.json" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, presenter] %>"></div>
            </div>
        <% elsif defined?(viewer) && (viewer == "click")  %>
            <a href="<%= request.path%>?locale=<%=params['locale']%>&universal_viewer=true" > 
                <%= image_tag(@presenter.display_image_url, class: "raw-image primary-media",role: "presentation") %>
                <label id="primary-image-label">Click image to load zoomable viewer</label>
            </a>
            <script type="javascript">
             console.log('Does this even run?');
             $(document).ready(function() {
                 console.log('Loading js after page load I guess?');
                 $('div.raw-image-wrapper').click(function(){
                     console.log('is this working?');
                 });
             });
            </script>
        <% else %>
            <%= image_tag @presenter.display_image_url, class: "primary-media",role: "presentation"%>
        <% end %>
    <% end %>
<% end %>
