<% if presenter.representative_id.present? && presenter.representative_presenter.present? %>
    <% if defined?(viewer) && (viewer == "click")  %>
        <%= PulUvRails::UniversalViewer.script_tag %>
        <div class="viewer-wrapper primary-media" style="display:none">
            <div class="uv viewer" data-config="/uv_config.json" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, presenter] %>"></div>
        </div>
        <%= image_tag @presenter.display_image_url, class: "raw-image primary-media",role: "presentation"%>
        <script type="javascript">
         $(div.primary-media).click(function(){
             $('this').toggle();
             $('this').siblings('div.primary-media').toggle();
         });
        </script>
    <% elsif defined?(viewer) && viewer %>

        <%= PulUvRails::UniversalViewer.script_tag %>
        <div class="viewer-wrapper">
            <div class="uv viewer" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, presenter] %>"></div>
        </div>
    <% else %>
        <%= media_display presenter.representative_presenter %>
    <% end %>
    <%# else %>
    <%#= image_tag 'default.png', class: "canonical-image" %>
<% end %>
