<%#= Customized from Hyrax 2.4.0 %>
<div class="show-actions">
  <%#= Customized with 'and presenter.editor?' %>
  <% if Hyrax.config.analytics and presenter.editor? %>
  <%#= end %>
    <%= link_to "Analytics", presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if presenter.editor? %>
      <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
      <%= link_to "Delete", [main_app, presenter], class: 'btn btn-danger', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>
      <% if presenter.member_presenters.size > 1 %>
          <%#= Customized link from hyrax.file_manager.link_text %>
          <%= link_to t("file_manager.link_text"), polymorphic_path([main_app, :file_manager, presenter]), class: 'btn btn-default' %>
          <%#= end %>
      <% end %>
      <%#= Removed block for the 'attach' link %>
  <% end %>

  <%#= Removed block for the 'add to collection' checkbox %>

  <%# removed block for featuring and un-featuring works %>

<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
<%#= Moved /div down here to include zotero span %>
</div>
<%#= Removed render modals %>
